/* ******************************************** */
.fa-check {
  color: #01b301;
}

.play-store-img-2 li {
  width: 50%;
  float: left;
  text-align: center;
  list-style: none;
}

.play-store-img-2 {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 75%;
}

.play-store-img-2 .inner-box {
  width: 32%;
  margin: 0 auto;
}

.router-link {
  font-size: 14px;
  font-weight: 600;
  color: #638DC3;
}

.inner-box img {
  max-width: 75%;
}


.fourcolumns {
  margin: 10px 0 0;
  list-style: none;
}

.fourcolumns h3 {
  margin: 6px 0;
}

.fourcolumns p {
  margin: 0;
  line-height: 23px;
  text-align: left;
}

.pw-solutions ul li .holder {
  height: 100%;
  min-height: 440px;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  background: #fff;
  border-radius: 6px;
}





#f-c>div>p {
  font-size: 16px;
  margin: 0 0 10px;
  line-height: 28px;
}

#f-c .title {
  font-size: 26px;
  margin: 10px 0 0;
  color: #000;
  font-weight: 600;
}

.gry-back {
  background: #fbfbfb;
}

.mb-30 {
  margin-bottom: 30px;
}

.pw-solutions {
  background: #F7FBFD;
  padding: 10px !important;
  font-family: 'Hind Madurai', sans-serif;
}

.pw-solutions ul li .holder {
  height: 100%;
  min-height: 440px;
  transition: all .3s ease-out;
  padding: 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 6px;
}

.img-holder img {
  width: 130px;
  height: 100%;
}

.txt-holder p {
  font-size: 14px !important;
  line-height: 22px !important;
}

.pw-solutions ul li .img-holder {
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
}

.pw-solutions ul li .holder:hover {
  -webkit-box-shadow: 0 5px 25px 0 rgba(64, 64, 64, .3);
  box-shadow: 0 5px 25px 0 rgba(64, 64, 64, .3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.main-heading h1 {
  margin: 20px 0 10px;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.user-box {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding-top: 10px;
  transition: all .3s ease-out;
  cursor: pointer;
  margin: 10px 0;
  background: #fff;
}

.user-box:hover {
  box-shadow: 1px 2px 11px 1px rgba(64, 64, 64, 0.3);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.user-box:hover .profile-btn {
  background: #000;
  color: #fff;
}

.black-div {
  background: linear-gradient(90deg, #a91f73 0, #ff4270 100%) !important;
  min-height: 100px;
  padding: 15px;
}

.hd1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin: 4px 0;
}

.Subscribe-btn {
  background: #f5f5f5 !important;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  padding: 6px 22px;
  border-radius: 50px;
  margin-top: 16px;
  color: #000;
  outline: 0;
}

/* .Subscribe-btn:hover{
    color: #E20074;
  } */
.user-pic {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar ul li>a {
  padding: 2px 8px !important
}

.user-pic img {
  max-width: 100%;
  /* max-height: 100%; */
}

.user-detail {
  text-align: center;
  padding: 10px;
}

.user-detail h2 {
  margin: 5px 0 0;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.user-detail p {
  margin: 0;
  color: #638dc3;
  font-weight: 600;
}

.pro-footer {
  border-top: 1px solid #e5e5e5;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.pro-footer label {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.pro-footer i {
  color: #638dc3;
  padding-right: 4px
}

.profile-btn {
  margin-left: auto;
  background: #000;
  color: #fff;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 50px;
  cursor: pointer;
  transition: all .5 ease-in-out;
}

.how-it-box .card {
  min-height: 200px;
  box-shadow: 1px 1px 7px 2px #ccc;
  padding: 10px 10px 20px;
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
  transition: all .3s ease-out;
  background: #fff
}

.how-it-box img {
  margin: 20px 0;
}

.how-it-box .card h2 {
  justify-content: center;
  margin: 5px 0;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  color: #000;
  min-height: 61px;
  align-items: center;
}

.how-it-box .card span {
  margin: 0;
  color: #888;
  font-weight: 500;
  font-size: 16px;
  padding: 0 0px;
  text-align: center;
}

.how-it-box .card .info {
  padding: 0 36px;
  min-height: 97px;
}

.how-it-box .card p {
  color: #638dc3 !important;
  font-size: 18px !important;
  margin: 0;
}

.how-it-box {
  list-style: none;
}

/* Start FAQ's Section */


.font-body {
  font-size: 42px;
  line-height: 9px;
  font-weight: 600 !important;
  color: #000;
  margin: 36px 0;
  text-align: center;
}

.faq h3.collapsed .fa-plus {
  display: inline-block;
  color: #638dc3
}

.faq h3.collapsed .fa-minus {
  display: none
}


.faq h3 .fa-plus {
  display: none
}

.faq h3 .fa-minus,
.faq h3 i,
.faq h3 span {
  display: inline-block
}

.faq h3 .fa-minus {
  color: #E20074
}

.faq h3 span {
  width: calc(100% - 35px);
  vertical-align: middle;
  color: #000 !important
}

.faq h3 i {
  vertical-align: middle
}

.faq h3 {
  margin: 0;
  padding: 10px;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.faq .card {
  margin: 0 0 15px;
  border-bottom: 1px solid #ccc;
}

.faq .card-block {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #959fac;
  margin-bottom: 8px;
  padding: 0 20px;
}

.profile-container {
  background: #F4F3FF
}

.app-benner {
  padding: 0px !important;
  position: relative;
  width: 100%;
  min-height: 264px;
}

.app-benner img {
  width: 100%;
  height: 100%;
}