
<section>
        <div class="container-fluid">
             <div class="row brand-row">
             <div class="col-md-6  padding">
                  
               <h3 class="Heading-Brands text-center">SignUp On InfluExpAl</h3>
                   <p class="paragraph text-center">
                        Signup on InfluExpAI is super easy and takes less than a few minutes on Web or Mobile: Download our next generation Artificially
                         Intelligent App on Google Play Store or Apple App Store.
                       
       </p>
       <!-- <button class="btn subscribe-btn "> subscribe Now</button> -->
             </div>
             <div class="col-md-6 padding2">
                   <img class="brand-img" src="../../../assets/images/Brand Images/Signup.png">
             </div>
             <div class="col-md-6  padding2">
                   <img class="brand-img" src="../../../assets/images/Brand Images/Set Your Influencer Profile.png">
          
                 </div>
                 <div class="col-md-6 padding">
           
                       <h3 class="Heading-Brands text-center">Set Your Influencer Profile</h3>
                       <p class="paragraph text-center">
                        Set your Influencer Profile to start receiving
                         Campaign Offers from Marketers, Entrepreneurs and Organizations.
                           
           </p>
                 </div>
                 <div class="col-md-6 padding">
           
                       <h3 class="Heading-Brands text-center"> Complete Content Assignments</h3>
                       <p class="paragraph text-center">
                        Create Content in your respective area of Influence for assigned campaigns.
                           
           </p>
                 </div>
                 <div class="col-md-6  padding2">
                       <img class="brand-img" src="../../../assets/images/Brand Images/Complete Content Assignments.png">
              
                     </div>
                     <div class="col-md-6  padding2">
                           <img class="brand-img" src="../../../assets/images/Brand Images/marketing wings.png">
                  
                         </div>
                         <div class="col-md-6 padding">
           
                               <h3 class="Heading-Brands text-center">Give your Earning Wings</h3>
                               <p class="paragraph text-center">
                                    Give your Influencer Profile Wings and transform your skills into a full-on business!
                                   
                   </p>
                         </div>
                         <div class="col-md-12 button-div">
                                    <button type="button" class="btn subcribe-button btn-lg ">Subcribe Now</button>
                             </div>  
                                 
             </div> 
           </div>
       </section>
       
