<app-header></app-header>
<div class="partner-holder">
  <div class="container">
    <div class="col-md-5 col-md-offset-7">
      <form>

        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleInputEmail1">Your Name</label>
            <input type="email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter your name">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Your Email</label>
            <input type="password" class="form-control" id="" placeholder="Enter your email">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Company Name</label>
            <input type="password" class="form-control" id="" placeholder="Company name">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">How Can We Partner?</label>
            <textarea rows="5" type="password" class="form-control" id="" placeholder="How can we partner?"></textarea>
          </div>
          <div class="g-recaptcha" data-sitekey="6Lf5bj8UAAAAAEXq4N3bX8zZYb8VQfOEQa7-1aWS"></div>
          <br>
          <div class="text-right">
            <button type="submit" value="SEND" id="submit" class="btn btn-primary btn-lg"> Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>