<div class="container-fluid" style="margin-top: 11%">
    <div class="container" style="background-color: #f4f4f7; text-align: -webkit-center">
        <h2>Requests For Marketing</h2>
    </div>
    <div id="exTab1" class="container">
        <ul  class="nav nav-pills">
            <li class="active">
                <a  href="#1a" data-toggle="tab">Pending RFM's</a>
            </li>
            <li><a href="#2a" data-toggle="tab">Approved RFM's</a>
            </li>
            <li><a href="#3a" data-toggle="tab">Rejected RFM's</a>
            </li>
        </ul>
            <hr style="background-color: #dadada; height: 0.5px; margin-top: 0px!important;">
        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a">
                <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <input title="search" type="search" placeholder="Search Pending RFM's" class="search-bg__text" style="width: 50%; color: #0b0b0b">
                        <input type="button" class="search_btn" value="Search">
                    </div>
                </div>
                </div>
                <div *ngFor="let list of Pending_RFMsList" class="requests" style="margin-top: 20px">
                <div class="row">
                <div class="col-md-4" style="border: 1px solid #ededed;">
                    <div class="ribbon-wrapper-green"><div class="ribbon-green">RFM</div></div>
                    <div class="image-holder">

                     <img src="../../../assets/images/agencies/let-them-apply.png" >

                    </div>

                </div>
                    <div class="col-md-5">
                        <span class="label label-success ng-star-inserted">Request For Marketing</span>
                        <div class="clearfix"></div>
                        <label style="font-size: 18px">{{list.profile_name}}</label>
                        <div class="clearfix"></div>

                        <div class="large-post" style="margin-left: 15px; color: #555555; font-weight: bold" >
                            <span><i class="fa fa-user" style="color: #555555"></i>  </span><small>  |</small>
                            <span>{{list.profile_name}}</span> <small>  |</small> <span>${{list.budget}}</span>  <small>  |</small> <span>{{list.website}}</span>
                            <small>  |</small> <span>{{list.email}}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success" (click)="approved_RFM(list.id)">Accepted <i class="fa fa-check"></i></button>
                        <button class="btn btn-primary" (click)="reject_RFM(list.id)">Rejected <i class="fa fa-times"></i></button>
                    </div>
                </div>
                </div>
            </div>
            <div class="tab-pane" id="2a">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <input title="search" type="search" placeholder="Search Approved RFM's" class="search-bg__text" style="width: 50%; color: #0b0b0b">
                            <input type="button" class="search_btn" value="Search">
                        </div>
                    </div>
                </div>
                <div *ngFor="let list of Approved_RFMsList" class="requests" style="margin-top: 20px">
                    <div class="row">
                        <div class="col-md-4" style="border: 1px solid #ededed;">
                            <div class="ribbon-wrapper-green"><div class="ribbon-green">RFM</div></div>
                            <div class="image-holder">

                                <img src="../../../assets/images/agencies/let-them-apply.png" >

                            </div>

                        </div>
                        <div class="col-md-5">
                            <span class="label label-success ng-star-inserted">Request For Marketing</span>
                            <div class="clearfix"></div>
                            <label style="font-size: 18px">{{list.profile_name}}</label>
                            <div class="clearfix"></div>

                            <div class="large-post" style="margin-left: 15px; color: #555555; font-weight: bold" >
                                <span><i class="fa fa-user" style="color: #555555"></i>  </span><small>  |</small>
                                <span>{{list.profile_name}}</span> <small>  |</small> <span>${{list.budget}}</span>  <small>  |</small> <span>{{list.website}}</span>
                                <small>  |</small> <span>{{list.email}}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!--<button class="btn btn-success" (click)="approved_RFM(list.id)">Accepted <i class="fa fa-check"></i></button>-->
                            <!--<button class="btn btn-primary" (click)="reject_RFM(list.id)">Rejected <i class="fa fa-times"></i></button>-->
                        </div>
                    </div>
                </div>            </div>
            <div class="tab-pane" id="3a">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <input title="search" type="search" placeholder="Search Rejected RFM's" class="search-bg__text" style="width: 50%; color: #0b0b0b">
                            <input type="button" class="search_btn" value="Search">
                        </div>
                    </div>
                </div>
                <div *ngFor="let list of Rejected_RFMsList" class="requests" style="margin-top: 20px">
                    <div class="row">
                        <div class="col-md-4" style="border: 1px solid #ededed;">
                            <div class="ribbon-wrapper-green"><div class="ribbon-green">RFM</div></div>
                            <div class="image-holder">

                                <img src="../../../assets/images/agencies/let-them-apply.png" >

                            </div>

                        </div>
                        <div class="col-md-5">
                            <span class="label label-success ng-star-inserted">Request For Marketing</span>
                            <div class="clearfix"></div>
                            <label style="font-size: 18px">{{list.profile_name}}</label>
                            <div class="clearfix"></div>

                            <div class="large-post" style="margin-left: 15px; color: #555555; font-weight: bold" >
                                <span><i class="fa fa-user" style="color: #555555"></i>  </span><small>  |</small>
                                <span>{{list.profile_name}}</span> <small>  |</small> <span>${{list.budget}}</span>  <small>  |</small> <span>{{list.website}}</span>
                                <small>  |</small> <span>{{list.email}}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!--<button class="btn btn-success" (click)="approved_RFM(list.id)">Accepted <i class="fa fa-check"></i></button>-->
                            <!--<button class="btn btn-primary" (click)="reject_RFM(list.id)">Rejected <i class="fa fa-times"></i></button>-->
                        </div>
                    </div>
                </div>            </div>
            <!--<div class="tab-pane" id="4a">-->
                <!--<h3>We use css to change the background color of the content to be equal to the tab</h3>-->
            <!--</div>-->
        </div>
    </div>

</div>