<!-- <app-header></app-header> -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" *ngIf="isModal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-body">-->
      <div class="block divcenter" style="background-color: #FFF; max-width: 800px;">
        <div class="modal-body price-model">
          <form name="form" method="post" class="nobottommargin" (ngSubmit)="f.form.valid && getStarted()" #f="ngForm" novalidate>
            <div class="row clearfix">
              <div class="col-sm-12">
                <h3 class="">Enter email to continue</h3>
              </div>
              <div class="col-sm-4">
                <div id="modal-get-started-package"></div>
              </div>
            </div>
            <div class="col_last">
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email123.valid }">
                <label class="" for="get-started-form-email">Your Email:</label>
                <input type="email" id="get-started-form-email" name="email123" autocomplete="off" [(ngModel)]="email" #email123="ngModel"
                       required   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control required email no-error-msg" (keyup)="check(email123.valid)"  />
              </div>
              <div class="clear"></div>
              <div class="md-errors-spacer" [hidden]="email123.valid || email123.untouched">
                <div class="help-block" style="color: red"  *ngIf="email123.errors && email123.errors.required">
                  Email is required
                </div>
                <div class="help-block" style="color: red"  *ngIf="email123.errors && email123.errors.pattern">
                  Email is invalid
                </div>
              </div>
              <div *ngIf="exists" class="alert alert-danger">
                <strong>Email already exists.</strong>
              </div>
              <div class="style-msg successmsg" *ngIf="emailchk && !exists">
                <div class="sb-msg"><i class="icon-ok"></i><strong>Email is not registered.</strong> You can continue.</div>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              </div>
            </div>
            <div class="clear"></div>
            <div class="form-group" >
              <div class="col_full nobottommargin">
                <!--<button  class="btn btn-rounded btn-success sign-up">Register</button>-->
                <!--<button class="button button-rounded nomargin" id="get-started-form-submit" name="get-started-form-submit" (click)="getStarted()" value="login">Get Started</button>-->
                <button [disabled]="!emailchk || loading" class="btn btn-lg btn-primary" >Get Started</button>
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <a href="#" data-scrollto="#section-pricing" data-easing="easeInOutExpo" data-speed="1250" data-offset="160" class="fright" (click)="closeModal()">Change Plan?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<preloader-full></preloader-full>
<div class="container-fluid pb-50 clearfix">
  <div id="section-pricing" class="page-section ">
    <br/>
    <div class="pricing-tenure-switcher center" data-container="#pricing-switch">
      <span class="pts-left" *ngIf="!isright" style="color: black; font-weight: bolder; font-size: 17px">Monthly</span>
        <span class="pts-left" *ngIf="isright" >Monthly</span>
      <div class="pts-switcher">
        <div class="switch">
          <!--<input [(ngModel)]="isright" id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round" type="checkbox">-->
            <mat-slide-toggle [(ngModel)]="isright" id="switch-toggle-pricing-tenure" class="switch-toggle switch-toggle-round"></mat-slide-toggle>

            <label for="switch-toggle-pricing-tenure"></label>
        </div>
      </div>
      <span class="pts-right" *ngIf="!isright">Yearly</span>
        <span class="pts-right" *ngIf="isright" style="color: black; font-weight: bolder; font-size: 17px">Yearly</span>
    </div>
    <div id="pricing-switch" class="pricing bottommargin-lg">
        <div class="col-md-2 col-sm-6"></div>
      <div class="col-md-4 col-sm-6" *ngIf="!isright">
        <div class="pricing-box">
            <!-- <button data-toggle="modal" data-target="#myModal" data-pricing-plan="Starter Plan"
            (click)="pricingpackage('free')"
            class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">
            Register Now
          </button> -->
          <!-- <div class="pricing-title">
            <h3>Flex</h3>
          </div> -->
          <div class="pricing-price starter">
              <div class="pricing-title">
                  <h3>Flex</h3>
                </div>
            <div class="pts-switch-content-left"><span class="price-unit1">$&nbsp;</span><span class="price">34.99</span><span class="price-unit">&nbsp;Monthly</span>
            </div>
          </div>
          <!--<div class="pricing-price">-->
          <!--FREE<span class="price-tenure">Limited Access</span>-->
          <!--</div>-->
          <div class="pricing-features">
            <ul>
              <!-- <li><i class="far fa-check-circle"></i> <strong>5,000</strong> Searches</li>
              <li><i class="far fa-check-circle"></i> Store up to 500 Contacts</li>
              <li><i class="far fa-check-circle"></i> Send up to 100 emails</li> -->

            
              <li><i class="far fa-check-circle"></i><strong class="paddings-strong">Unlimited</strong>Searches</li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">Store up to 2000 Contacts</span></li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">Send up to 1,000,000 emails</span></li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">1 Seat</span></li>
              <li><i class="far fa-check-circle"></i><strong class="paddings-strong">1 Month License</strong></li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">Email Support</span></li>
              <!-- <li><i class="far fa-check-circle"></i> 100,000 emails</li> -->
            </ul>
            <!-- <button data-toggle="modal" data-target="#myModal" data-pricing-plan="Starter Plan"
                    (click)="pricingpackage('free')"
                    class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">
                    Register Now
            </button> -->
            <button type="button" data-toggle="modal" data-target="#myModal" data-pricing-plan="Starter Plan"
            (click)="pricingpackage('free')" class="btn btn-primary btn-lg Register">Register Now</button>
          </div>
         
        </div>
      </div>
      
      <!--pro pack yearly start-->
      <!---->
      <div class="col-md-4 col-sm-6" *ngIf="isright">
        <div class="pricing-box">
            <!-- <button data-toggle="modal" data-target="#myModal"
            data-pricing-plan="Professional Yearly Plan"
            (click)="pricingpackage(propacky.value)"
            class="button button-large button-rounded capitalize ls0"
            style="border-radius: 23px;"> Register Now
          </button> -->
          
          <div class="pricing-price professional-3">
              <div class="pricing-title">
                  <h3>Flex</h3>
                </div>

            <div class="pts-switch-content-left">
              
              <span class="price-unit1">$&nbsp;</span><span class="price">299.99</span><span class="price-unit">&nbsp;Yearly</span>
            </div>
          </div>
          <div class="pricing-features">
            <input type="hidden" value="pro monthly" #propackm>
            <input type="hidden" value="pro yearly" #propacky>
            <ul>
               
              <li><i class="far fa-check-circle"></i><strong class="paddings-strong">Unlimited</strong>Searches</li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">Store up to 8000  Contacts</span></li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">Send up to 1,000,000 emails</span> </li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">1 Seat</span></li>
              <li><i class="far fa-check-circle"></i><strong class="paddings-strong">1 Year</strong> License</li>
              <li><i class="far fa-check-circle"></i><span class="paddings-strong">Email Support</span></li>
            </ul>
            <!-- <button data-toggle="modal" data-target="#myModal"
            data-pricing-plan="Professional Yearly Plan"
            (click)="pricingpackage(propacky.value)"
            class="button button-large button-rounded capitalize ls0"
            style="border-radius: 23px;"> Register Now
            </button> -->
            <button type="button" data-toggle="modal" data-target="#myModal"
            data-pricing-plan="Professional Yearly Plan"
            (click)="pricingpackage(propacky.value)"
             class="btn btn-primary btn-lg Register"> Register Now</button>
          </div>
          
        </div>
      </div>
      <!---->
      <!--pro pack yearly end-->
      <!--pro pack monthly start-->
      <!---->
      <div class="col-md-4 col-sm-6" *ngIf="!isright">
        <div class="pricing-box" >
            <!-- <button data-toggle="modal" data-target="#myModal"
                      data-pricing-plan="Professional Monthly Plan"
                      (click)="pricingpackage(propackm.value)"
                      class="button button-large button-rounded capitalize ls0"
                      style="border-radius: 23px;">Register Now
              </button> -->
         
          <div class="">
            <div class=" pricing-price professional-2">
                <div class="pricing-title">
                    <h3>Pro</h3>
                  </div>
                  <div class="pts-switch-content-left">
              <span class="price-unit1">$&nbsp;</span><span class="price">299.99</span><span
              class="price-unit">&nbsp;Monthly</span>
            </div>
            

            </div>
            <div class="pricing-features">
              <input type="hidden" value="pro monthly" #propackm>
              <input type="hidden" value="pro yearly" #propacky>
              <ul>
                      <li><i class="far fa-check-circle"></i><strong class="paddings-strong">Unlimited</strong> Searches</li>
                      <li><i class="far fa-check-circle"></i><span class="paddings-strong">Store up to 8000  Contacts</span></li>
                      <li><i class="far fa-check-circle"></i><span class="paddings-strong">Send up to 1,000,000 emails</span></li>
                      <li><i class="far fa-check-circle"></i><span class="paddings-strong">3 Seat</span></li>
                      <li><i class="far fa-check-circle"></i><strong class="paddings-strong">1 Month</strong> License</li>
                      <li><i class="far fa-check-circle"></i><span class="paddings-strong">Email Support</span> </li>
<!-- 
                <li><i class="far fa-check-circle"></i> <strong>10,000</strong> Searches</li>
                <li><i class="far fa-check-circle"></i> Store up to 1000 Contacts</li>
                <li><i class="far fa-check-circle"></i> Unlimited Emailing</li>
                <li><i class="far fa-check-circle"></i> <strong>1 Month</strong> License</li>
                <li><i class="far fa-check-circle"></i> Email Support</li> -->
              </ul>
              <!-- <button data-toggle="modal" data-target="#myModal"
                      data-pricing-plan="Professional Monthly Plan"
                      (click)="pricingpackage(propackm.value)"
                      class="button button-large button-rounded capitalize ls0"
                      style="border-radius: 23px;">Register Now
              </button> -->
              <button type="button" data-toggle="modal" data-target="#myModal"
              data-pricing-plan="Professional Monthly Plan"
              (click)="pricingpackage(propackm.value)"
               class="btn btn-primary btn-lg Register">Register Now</button>
            </div>
            
          </div>
        </div>
      </div>
      <!---->
      <!--pro pack monthly end-->
      <!--Business pack monthly start-->
   
      <!--Business pack monthly end-->
      <!--Business pack yearly start-->
      <div class="col-md-4 col-sm-6" *ngIf="isright">
        <div class="pricing-box">
            <!-- <button data-toggle="modal" data-target="#myModal" data-pricing-plan="Business Yearly Plan"
            (click)="pricingpackage(bpacky.value)"
            class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">
            Register Now
    </button> -->
      
          <div class="pricing-price business">
              <div class="pricing-title">
                  <h3>Pro</h3>
                </div>
            
                <div class="pts-switch-content-left">
              <span class="price-unit1">$&nbsp;</span><span class="price">999.99</span><span class="price-unit">&nbsp;Yearly</span>
            </div>
          </div>
          <div class="pricing-features">
            <ul>
                      
                <li><i class="far fa-check-circle"></i><strong class="paddings-strong">Unlimited</strong> Searches</li>
                <li><i class="far fa-check-circle"></i><span class="paddings-strong">Store up to 8000  Contacts</span></li>
                <li><i class="far fa-check-circle"></i><span class="paddings-strong">Send up to 1,000,000 emails </span> </li>
                <li><i class="far fa-check-circle"></i><span class="paddings-strong">3 Seat</span></li>
                <li><i class="far fa-check-circle"></i><span class="paddings-strong">1 Year License </span></li>
                <li><i class="far fa-check-circle"></i><span class="paddings-strong">Email Support</span></li>
            </ul>
            <!-- <button data-toggle="modal" data-target="#myModal" data-pricing-plan="Business Yearly Plan"
                    (click)="pricingpackage(bpacky.value)"
                    class="button button-large button-rounded capitalize ls0" style="border-radius: 23px;">
                    Register Now
            </button> -->
            <button type="button" data-toggle="modal" data-target="#myModal" data-pricing-plan="Business Yearly Plan"
            (click)="pricingpackage(bpacky.value)" class="btn btn-primary btn-lg Register">Register Now</button>
          </div>
          <input type="hidden" value="bui monthly" #bpackm>
          <input type="hidden" value="bui yearly" #bpacky>
         
        </div>
      </div>
    </div>
    <!--Business pack yearly end-->
  </div>
</div>


<!-- Table Section-->
<!-- <app-footer></app-footer> -->