<!-- <app-header></app-header> -->

<section id="f-c">
   
    <div class="row row-profile">
        <div class="col-md-3 followers-profile profile-div">
            <h4 class="real-heading">99%</h4>
            <h5>Real</h5>
        </div>
        <div class="col-md-7 profile-div">
            <div class="user-img">
                <img class="img-circle" src="{{imageurls}}{{Profile.image}}">
            </div>
       
            <div class="detail">
                <h5 > Mirchal Khumar</h5>
                <h5 >First Name  </h5>
                <h5 >abc@brainplow.com </h5>
            </div>
        </div>
        <div class="col-md-2 male-follwers ">
          <div>
              <i class="fas fa-venus"></i><span>83%</span>
              <h5>Female</h5>
          </div>
          <div class="male">
                  <i class="fas fa-venus"></i><span >33%</span>
                  <h5>Male</h5>
              </div>
      </div>
        <div class="col-md-4">
            <ul class="progress-url">
                <li>
                    <span class="followers-percen">London</span>
                    <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>  <span class="followers-percen1">10%</span></li>
                  <li>   <span  class="followers-percen">paris</span><div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><span  class="followers-percen1">5%</span></li>
                  <li><span class="followers-percen" >Berlin</span><div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><span class="followers-percen1">30%</span></li>
                  <li><span class="followers-percen">Hamburg</span><div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div><span class="followers-percen1">70%</span></li>
                  <li>        <h5 class="text-center">Cities</h5></li>
            </ul>
    
        </div>
        <div class="col-md-4">
                <ul class="progress-url">
                        <li>
                            <span class="followers-percen">US</span>
                            <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>  <span class="followers-percen1">60%</span></li>
                          <li>   <span  class="followers-percen">DE</span><div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div><span  class="followers-percen1">25%</span></li>
                          <li><span class="followers-percen" >FR</span><div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 45%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div><span class="followers-percen1">45%</span></li>
                          <li><span class="followers-percen">IT</span><div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width:15%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div><span class="followers-percen1">15%</span></li>
                          <li>        <h5 class="text-center">Countries</h5></li>
                    </ul>
        </div>
        <div class="col-md-4">
                <ul class="progress-url">
                        <li>
                            <span class="followers-percen">25-30</span>
                            <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 56%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>  <span class="followers-percen1">56%</span></li>
                          <li>   <span  class="followers-percen">30-35</span><div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 29%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div><span  class="followers-percen1">29%</span></li>
                          <li><span class="followers-percen" >35-40</span><div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 45%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div><span class="followers-percen1">45%</span></li>
                          <li><span class="followers-percen">40-45</span><div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width:35%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div><span class="followers-percen1">35%</span></li>
                          <li>        <h5 class="text-center">Age</h5></li>
                    </ul>

        </div>
    </div>
</section>
